<!-- Title page -->
<div class="flex py-5 px-44 bg-slate-50">
    <h5 class="mat-headline-6 text-teal-600">FAQs</h5>
</div>
  
<!-- Image  -->
<div class="flex justify-center items-center pt-2 pb-10 bg-slate-50">
  <img src="/assets/img/obsolescence-tracker-faq.png" width="400" height="201" alt="Illustration obsolescence tracker">
</div>
  
<!-- Which is the obsolescence of my computer  -->
<div class="flex flex-col py-10 px-44 ">    

  <mat-accordion>

      <!-- Q1 -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>01. How is this law applied ?</mat-panel-title>            
        </mat-expansion-panel-header>
        <p><p>The repression of this crime requires proof of the "deliberate" intention to reduce the life of the product "to increase the replacement rate".
          While this may seem difficult to prove, it actually depends on the interpretation of the judges.</p>
      </mat-expansion-panel>

      <!-- Q2 -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>02. Why are we doing this ?</mat-panel-title>            
        </mat-expansion-panel-header>
        <h4>The Obsolescence tracker initiative has three main goals:</h4>
              <ul>
                  <li>To address the increasing consumer demand for environmental information about laptop</li>
                  <li>To raise awareness and transparency by creating a consistent way for consumers to identify and compare the most sustainable laptops</li>
                  <li>To encourage and incentivise suppliers to reduce the environmental impact of their devices.</li>
              </ul>   
      </mat-expansion-panel>

      <!-- Q3 -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>03. Why do companies use programmed obsolescence ?</mat-panel-title>            
          </mat-expansion-panel-header>
          <p>Programmed obsolescence was theorized by Bernard London in 1932 to boost an economic model that had run out of steam during the Great Depression. Economic growth is based on the stimulation
              of production and consumption. The more people consume, the more companies gain orders and invest to produce more, which theoretically increases employment and sales. VAT also relies on consumption,
              which leads the government to strongly encourage it in order to finance public spending. Our economic and social model is based on overconsumption, which must be constantly renewed.
                However, it is possible to imagine alternative economic models that do not rely on overproduction, as shown by some new or transitional businesses (rental, repair, reconditioning, sustainable
                manufacturers...).</p>  
      </mat-expansion-panel>

      <!-- Q4 -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>04. Why do companies use programmed obsolescence ?</mat-panel-title>            
          </mat-expansion-panel-header>
          <p>Programmed obsolescence was theorized by Bernard London in 1932 to boost an economic model that had run out of steam during the Great Depression. Economic growth is based on the stimulation
              of production and consumption. The more people consume, the more companies gain orders and invest to produce more, which theoretically increases employment and sales. VAT also relies on consumption,
              which leads the government to strongly encourage it in order to finance public spending. Our economic and social model is based on overconsumption, which must be constantly renewed.
                However, it is possible to imagine alternative economic models that do not rely on overproduction, as shown by some new or transitional businesses (rental, repair, reconditioning, sustainable
                manufacturers...).</p>  
      </mat-expansion-panel>

      <!-- Q5 -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>05. Which laptop models have been rated so far ?</mat-panel-title>            
          </mat-expansion-panel-header>
          <p>By end of 2022 about 180 devices have been rated , and the total number of assessed devices by Obsolescence tracker is continuously increasing in order to keep the pace of new portfolio entrants so that the current growing demand from consumers for more transparency continues to be met. The rated devices can be found on the  websites and shops of the participating laptop operators.</p>  
      </mat-expansion-panel>

      <!-- Q6 -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>06. What is the legal definition of programmed obsolescence? What are the sanctions ?</mat-panel-title>            
          </mat-expansion-panel-header>
          <p>After a first unsuccessful legislative proposal in 2013, the offence of programmed obsolescence was introduced in the Energy Transition Law in 2015.  Programmed obsolescence is now defined and punished by articles L441-2 and L454-6 of the Consumer Code. The law aimed at reducing the environmental footprint of the digital, enacted in November 2021, came to make the offense more easily applicable by removing part of the definition ("to increase the replacement rate"), which unnecessarily complicated it. The current definition is therefore :
              Programmed obsolescence is defined as all techniques, including software, by which the marketer of a product aims to deliberately reduce its lifespan.
              This offence is punishable by two years imprisonment and a fine of €300,000. The amount of the fine may be increased, in proportion to the benefits derived from the breach, to 5% of the average annual turnover, calculated on the last three annual turnovers known at the date of the facts.
              The law of energy transition for green growth aims to improve the design of products by sanctioning programmed obsolescence. To learn more, visit the dedicated page of the website of the Ministry of Ecological Transition.</p>
      </mat-expansion-panel>

      <!-- Q7 -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>07. What are the social issues of planned obsolescence ?</mat-panel-title>            
          </mat-expansion-panel-header>
          <p>Many consumers have already experienced programmed obsolescence. In addition to penalizing the purchasing power of consumers, who are forced to change their appliances to buy new ones, programmed obsolescence generates a feeling of frustration and alienation. Programmed obsolescence is also the indirect cause of very difficult working conditions for subcontractors, especially in so-called "developing" countries. Indeed, the reduction in the life span of goods is accompanied by a reduction in production costs that weighs on employees. The production of certain objects such as telephones also gives rise to a struggle for resources that fuels social violence. Finally, programmed obsolescence promotes unsustainable consumption behaviors and institutionalizes every day a disposable culture.</p>
      </mat-expansion-panel> 

      <!-- Q8 -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>08. How do I compare a laptop with the Obsolescence tracker applciation to one without it ?</mat-panel-title>            
          </mat-expansion-panel-header>
          <p>No. It is not possible. This option will be available soon.</p>
      </mat-expansion-panel> 

      <!-- Q9 -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>09. What does durability mean and how is this related to sustainability or ecological performance ?</mat-panel-title>            
          </mat-expansion-panel-header>
          <p>One of the key reasons why consumers replace their laptop are defects or wear and tear, which prematurely shortens the viable lifetime of the device.  The more durable the device, the less likely it is to be discarded early, reducing the greenhouse gases associated with the manufacture of a new device and reducing e-waste.</p>
      </mat-expansion-panel> 

      <!-- Q10 -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>10. Does repairability relate to the repair cost of the laptop ?</mat-panel-title>            
          </mat-expansion-panel-header>
          <p>When repairing a laptop, a technician will need to disassemble the device, replace the defective part, and then reassemble it. Therefore, the cost of labor represents a significant portion of the overall cost of repairing a laptop. The design of a laptop makes disassembly and reassembly tedious and not very quick, so this element of the cost will vary.</p>
      </mat-expansion-panel>

  </mat-accordion>

</div>
  