<footer class="bg-gray-100">  
    <div class="flex flex-column px-10 justify-around">

      <!-- Bloc 1 -->
      <div class="basis-auto p-2 m-2 inline-flex items-center">            
          <span>
              <a routerLink="" class="flex items-center">
                  <img src="/assets/img/logo-obs-carre.png" class="h-8" alt="Obsolescence tracker" />
                  <span class="self-center">Obsolescence tracker</span>
              </a>
          </span>      
      </div>
    
      <!-- Bloc items -->
        <div class="basis-auto p-2 m-2 inline-flex items-center">      
            <ul class="flex flex-wrap">
                <li><a routerLink="" class="mr-4">Home</a></li>
                <li><a routerLink="/research" class="mr-4">Research</a></li>
                <li><a routerLink="/faq" class="mr-4">FAQ</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>  
        </div> 
    </div>

    <div class="basis-auto px-48 py-4">
        <hr class="my-6 border-teal-600" />
        <span class="block text-center ">© 2024 Obsolescence tracker™. All Rights Reserved.</span>
    </div>

</footer>