<!-- Title page -->
<div class="flex py-5 px-44">
    <h5 class="mat-headline-6 text-teal-600">All laptop</h5>
</div>

<div class="flex py-5 px-44">
    <app-search-article></app-search-article>
</div>  
  
  <div class="flex py-5 px-20">                          
        
        <div *ngFor="let article of articleList" class="m-4">
            <div class="mr-10">

                <mat-card articleBorderCard>            
                  <mat-card-header>
                    <div mat-card-avatar>
                      <img [src]="article.urlImgBrand">
                    </div>                
                    <mat-card-title>{{ article.brand }}</mat-card-title>
                    <mat-card-subtitle>{{ article.model }}</mat-card-subtitle>        
                  </mat-card-header>
            
                  <img mat-card-image [src]="article.urlImg" width="481" height="291" alt="Laptop Photo" (click)="goToArticleDetail(article)">
            
                  <mat-card-content>
                    <h5 class="teal-text text-lighten-3" *ngFor="let category of article.categories" class="{{ category | articleTypeColor }} activator">{{ category }}</h5>
                    <h6>{{ article.price }} €</h6>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>             
                </mat-card>            
                
              </div>
        </div> 
    </div>   


