/* Footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul li a:hover, nav ul li.active {
  background-color: #4caf50 green  ;
}

p {
  font-family: Lato;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 200px;
  background-color: #f4f4f4;
}

/* app.component.css */

.app-container {
  height: 100vh;
}

.sidenav-content {
  padding: 16px;
}

.main-content {
  padding: 16px;
  overflow: auto;
  flex-grow: 1;
}

mat-sidenav-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,150,136,0.15) 100%);
}