<div class="container">
  <div *ngIf="article" class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card">
        <div class="card-image">
          <img [src]="article.urlImg">
          <span class="card-title teal text-lighten-1">{{ article.name }}</span>
        </div>
        <div class="card-content">                  
          <h5 class="teal-text text-lighten-3">{{ article.brand }}</h5>
          <span *ngFor="let category of article.categories" class="{{ category | articleTypeColor }} activator">{{ category }}</span>
          <h6>{{ article.price }} €</h6>
          <p><small>{{ article.created | date: 'dd/MM/yy, à HH:mm' }}</small></p>
          <p>{{ article.description }}</p>
        </div>
      </div>    
          <div class="row card-action">
            <div class="col s12 m6 l4">
              <a class="waves-effect waves-light btn blue" (click)="goToEditArticle(article)">Editer</a>
            </div>
            <div class="col s12 m6 l4">
              <a class="waves-effect waves-light btn teal lighten-2" (click)="goToArticleList()">Retour</a>
            </div>
            <div class="col s12 m6 l4">
              <a class="waves-effect waves-light btn red" (click)="deleteArticle(article)">Supprimer</a>
            </div>            
          </div>       
    </div>
    
  </div>
</div>
<h4 *ngIf='!article' class="center">
  <app-loader></app-loader>
</h4>
